*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --Tomato: hsl(4, 100%, 67%);
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    --paragraph-font : 16px
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--Charcoal-Grey);
}

p {
    line-height: 1.6;
    font-size: var(--paragraph-font);
    color: var(--Dark-Slate-Grey);
}

h1 {
    color: var(--Dark-Slate-Grey);
}

/* Start */

.parent {
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:850px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 20px 40px;
    gap: 50px;
    background-color: var(--White);
    border-radius: 25px;
}

.parent .left-side h1{
    margin: 0;
    font-size: 55px;
}

.parent .left-side .box p{
    display:flex;
    align-items:center;
}

.parent .left-side .box p img{
    margin-right: 10px;
}

.parent .left-side .input-box .text {
    display:flex;
    justify-content: space-between;
}

.parent .left-side .input-box .text p {
    margin: 5px 0;
}

.parent .left-side .input-box .text .warning{
    color: var(--Tomato);
    display:none;
}

.parent .left-side .input-box input{
    width:100%;
    padding:20px;
    border: 1px solid var(--Grey);
    border-radius: 5px;
}

.parent .left-side .input-box input:focus{
    border-color:var(--Dark-Slate-Grey)
}

.parent .left-side .button {
    width: 100%;
    padding: 20px;
    background: var(--Dark-Slate-Grey);
    color: var(--White);
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
}

.parent .left-side .button:hover {
    background-color: var(--Tomato);
}

.parent .right-side img{
    width:350px;
}

.result {
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background-color: var(--White);
    padding: 50px;
    border-radius: 20px;
    display:none;
}

.result h1 {
    font-size: 55px;
    margin-bottom:0;
}

.result .dissmis-message{
    padding: 20px;
    background: var(--Dark-Slate-Grey);
    color: var(--White);
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
}

.result .dissmis-message:hover{
    background-color: var(--Tomato);
}

/* End */

@media (max-width:768px){
    .parent{
        width:748px
    }
    .parent .left-side h1{
        font-size:40px;
    }
}

@media (max-width:425px){
    .parent{
        flex-direction:column-reverse;
        width:fit-content;
        padding:0;
        gap:0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    .parent .left-side{
        padding: 25px;
    }
    .parent .left-side .box p:not(:last-child){
        align-items: flex-start;
    }
}

@media (max-width:375px){
    .result{
        padding:25px;
    }
    .result h1{
        font-size:45px;
        
    }
}

@media (max-width:320px){
    .parent .right-side img{
        width:300px;
    }
    .parent .left-side .button{
        font-size:14px;
    }
}